.input-wrap {
  display: flex;
  padding-top: 20px;
  @include media-breakpoint-up(md) {
    padding-top: 0;
  }
}
.input-wrap-search {
  display: flex;
  justify-content: center;
  align-items: center;
  @include media-breakpoint-up(md) {
    justify-content: flex-start;
  }
}
.input-wrap-send {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  @include media-breakpoint-up(sm) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.form-send-bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.main-input {
  border-radius: 4px 0 0 4px;
  font-family: $font-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  padding-left: 33px;
  background-color: $color-text-light;
  color: $color-text-dark;
  &::placeholder {
    color: $color-text-additional;
  }
  &:hover,
  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px $color-marker;
  }
}
.main-input--email {
  width: 285px;
  height: 55px;
}
.main-input--search {
  width: 285px;
  height: 40px;
  font-size: 12px;
  font-weight: 400;
  background-color: $color-bg-main;
  &::placeholder {
    color: $color-text-dark;
  }
}
.main-input--send {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  margin-top: 15px;
  @include media-breakpoint-up(sm) {
    width: 48%;
  }
}
.text-input {
  width: 100%;
  border-radius: 4px;
  padding-top: 18px;
  margin-top: 15px;
}
.main-button {
  background-color: $color-marker;
  border-radius: 4px;
  font-family: $font-additional;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  color: $color-text-light;
  border: 1px solid $color-marker;
  text-align: center;
  display: inline-block;
  &:hover,
  &:focus {
    outline: none;
    border-color: $color-text-light;
  }
  &:active {
    background-color: $color-text-light;
    border-color: $color-marker;
    color: $color-marker;
  }
}
.main-button--send {
  min-width: 160px;
  padding: 16px 10px;
  text-align: center;
}
.main-button--additional-nav {
  font-size: 14px;
  padding: 10px 18px;
  text-align: center;
  &:hover,
  &:focus {
    background-color: $color-text-light;
    border-color: $color-marker;
    color: $color-marker;
  }
  &:active {
    background-color: $color-marker;
    border-color: $color-marker;
    color: $color-text-light;
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.main-button--big {
  width: 100%;
  padding: 13px 5px;
  font-size: 14px;
}
.main-button--book {
  padding: 7px 22px;
}
.main-button--offer {
  padding: 10px 26px;
  font-size: 14px;
}
.main-button--email {
  padding: 18px 18px;
  border-radius: 0 4px 4px 0;
  font-family: $font-main;
  line-height: 1.25;
  &:hover,
  &:focus {
    outline: none;
    border-color: $color-text-light;
  }
  &:active {
    background-color: $color-text-light;
    border-color: $color-marker;
    color: $color-marker;
  }
}
.main-button--alt {
  position: relative;
  padding: 18px 33px;
  text-align: center;
  border-radius: 0 4px 4px 0;
  box-shadow: 0 0 0 1px $color-marker;
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text-light;
    font-size: 16px;
  }
  &:hover,
  &:focus {
    border-color: $color-marker;
    &:before{
      font-size: 18px;
    }
  }
  &:active {
    border-color: $color-marker;
    &:before{
      color: $color-marker;
      font-size: 18px;
    }
  }
}
.nav-button {
  background-color: transparent;
  font-size: 30px;
  color: $color-text-light;
  display: block;
  margin-left: auto;
  margin-right: -10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  &:hover,
  &:focus {
    outline: none;
    &:before {
      color: $color-marker;
    }
  }
  &:active {
    outline: none;
    &:before {
      color: $color-marker;
      font-weight: 600;
    }
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
}
.dropdown-button {
  position: relative;
  color: transparent;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-left: 15px;
  @extend .icon;
  @extend .icon-arr-down;
  &:before {
    position: absolute;
    right: 0;
    left: 0;
    font-size: 25px;
    color: $color-text-dark;
    display: flex;
    align-items: center;
  }
  &:hover,
  &:focus {
    outline: none;
    &:before {
    color: $color-marker;
    }
  }
  &:active {
    outline: none;
    &:before {
    color: $color-marker;
    font-weight: 600;
    }
  }
}