.qqq {
  border: 1px solid white;
}
.www {
  border: 1px solid black;
}
.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-up(lg) {
    justify-content: space-between;
  }
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-up(sm) {
    justify-content: space-between;
  }
}
.info-text {
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-up(sm) {
    justify-content: flex-start;
  }
}
.logo__img {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
  &:hover,
  &:focus {
    outline: none;
    border-bottom: 1px solid $color-text-main;
    border-color: $color-marker;
    color: $color-marker;
  }
}
.info-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  &:hover,
  &:focus {
    outline: none;
    border-bottom: 1px solid $color-text-main;
    border-color: $color-marker;
    color: $color-marker;
    .icon-info {
      color: $color-marker;
    }
  }
}
.section {
  min-width: $min-content;
  background-color: $color-bg-main;
}
.section--logo {
  background-color: $color-text-light;
  padding-top: 10px;
  padding-bottom: 10px;
  @include media-breakpoint-up(sm) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.section--info {
  padding-top: 23px;
  padding-bottom: 23px;
}
.section--main-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color-bg-additional;
}
.section--additional-nav {
  padding-top: 20px;
  @include media-breakpoint-up(lg) {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
.section--package {
  padding-top: 20px;
  padding-bottom: 20px;
  @include media-breakpoint-up(lg) {
    padding-bottom: 55px;
  }
}
.section--visual {
  padding-top: 10px;
  padding-bottom: 20px;
  @include media-breakpoint-up(lg) {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}
.section--newsletter {
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(10, 34, 61, 0.8)), url("../img/newsletter_back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background: linear-gradient(rgba(10, 34, 61, 0.8)), url("../img/newsletter_back_2x.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
}
.section--activities {
  padding-top: 30px;
  padding-bottom: 10px;
  @include media-breakpoint-up(sm) {
    padding-bottom: 40px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 60px;
    padding-bottom: 95px;
  }
}
.collapse-nav {
  @include media-breakpoint-up(md) {
    display: block !important;
  }
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  @include media-breakpoint-up(md) {
    margin-top: 0;
    flex-direction: row;
  }
}
.nav__item {
  font-family: $font-main;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  color: $color-text-light;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover,
  &:focus {
    outline: none;
    color: $color-text-light;
    border-bottom: 2px solid $color-text-light;
    margin-bottom: -2px;
  }
}
.additional-nav {
  @include media-breakpoint-up(lg) {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    float: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
}
.custom-dropdown-item {
  background-color: transparent;
  font-family: $font-main;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  color: $color-text-main;
  text-transform: capitalize;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 16px;
  &:hover,
  &:focus {
    outline: none;
    border-bottom: 4px solid $color-marker;
    margin-bottom: -4px;
    color: $color-marker;
    background-color: transparent;
  }
  &:active {
    outline: none;
    border-bottom: 4px solid $color-text-main;
    margin-bottom: -4px;
    color: $color-text-main;
    background-color: transparent;
  }
}
.custom-dropdown-item--additional {
  @include media-breakpoint-up(lg) {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
  }
}
.card-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  @include media-breakpoint-up(lg) {
    padding-top: 30px;
  }
}
.card-list__title {
  height: 50px;
  background-color: $color-bg-additional;
  border-radius: 4px 4px 0 0;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding-left: 24px;
}
.card-list__block {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 15px;
}
.card-list__content {
  height: 100%;
  background: $color-text-light;
  border-radius: 0 0 8px 0;
  padding-bottom: 10px;
  @include media-breakpoint-up(lg) {
    padding-bottom: 30px;
  }
}
.card-list__content--sheet {
  border-radius: 0 0 8px 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  @include media-breakpoint-up(lg) {
    padding-bottom: 60px;
  }
}
.card-list__item {
  position: relative;
  display: flex;
  padding-left: 40px;
  margin-top: 20px;
}
.card-list__item--check {
  font-size: 8px;
  color: $color-text-light;
  @extend .icon;
  @extend .icon-marker-yes;
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    padding-top: 2px;
    background: $color-text-main;
  }
}
.card-list__item--calendar {
  font-size: 17px;
  color: $color-text-main;
  @extend .icon;
  @extend .icon-calendar;
  &:before {
    position: absolute;
    left: 0;
    top: 0;
  }
}
.card-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.card-photo__block {
  padding-top: 0;
  @include media-breakpoint-up(sm) {
    padding-top: 10px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 40px;
  }
}
.card-photo__item {
  position: relative;
  @include media-breakpoint-up(sm) {
    width: 100%;
  }
}
.card-photo__img {
  max-width: 255px;
  max-height: 255px;
  @include media-breakpoint-up(sm) {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  border-radius: 6px;
}
.card-photo__content {
  position: absolute;
  left: 25px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}
.gradient {
  position: relative;    
}
.gradient:before {
  content: ""; 
  width: 100%;
  height: 100%;    
  position: absolute;
  top: 0;      
  left: 0;   
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 35%, #0a223d 100%);
  border-radius: 6px;
}
.icon-arr-down {
  font-size: 25px;
  color: $color-text-dark;
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  @include media-breakpoint-up(md) {
    padding-top: 0;
    justify-content: flex-end;
  }
}
.user__basket {
  position: relative;
  display: flex;
  align-self: flex-end;
  font-size: 24px;
  color: $color-text-dark;
  padding-right: 10px;
  &:after {
    content: '2';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $color-marker;
    color: $color-text-light;
    font-size: 10px;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 20px;
    padding-right: 40px;
    &:after {
      left: 35px;
    }
  }
}
.user__name {
  max-width: 100px;
  font-family: $font-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: $color-text-main;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.user__img {
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-right: 15px;
  display: flex;
  flex-shrink: 0;
  @include media-breakpoint-up(lg) {
    margin-right: 35px;
  }
}
.visual-list {
  display: flex;
  align-items: stretch;
  justify-content: center;
  @include media-breakpoint-up(lg) {
    padding-top: 35px;
  }
}
.visual-item {
  padding-top: 20px;
  @include media-breakpoint-up(lg) {
    padding-top: 30px;
  }
}
.visual-content {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: $color-bg-additional;
}
.offer-img {
  max-width: 100%;
  height: 250px;
}
.visual-content-first {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: $color-bg-additional;
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.offer-img-first {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 250px;
  @include media-breakpoint-up(md) {
    height: 100%;
    flex-basis: 50%;
    flex-shrink: 0;
  }
}
.img-rule {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 6px 6px 0 0;
}
.img-rule--first {
  @include media-breakpoint-up(md) {
    border-radius: 6px 0 0 6px;
  }
}
.offer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 32px;
}
.offer--first {
  padding-top: 45px;
  padding-bottom: 30px;
  padding-left: 44px;
}
.offer__list {
  padding-top: 18px;
  padding-bottom: 20px;
}
.offer__list--first {
  padding-top: 40px;
  padding-bottom: 35px;
}
.offer__item {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  font-family: $font-main;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: $color-text-light;
  &:before {
    font-size: 14px;
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
  }
}
.price-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.offer_price-block {
  display: flex;
  flex-direction: column;
}
.offer-marker {
  position: absolute;
  left: 0;
  top: 26px;
  width: 95px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: $color-marker;
  border-radius: 0 4px 4px 0;
  font-family: $font-main;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  color: $color-text-light;
}
.offer-marker--small {
  width: 60px;
  height: 18px;
  font-size: 8px;
}