.qqq {
  border: 1px solid white;
}
.www {
  border: 1px solid black;
}
.content-align-center {
  display: flex;
  align-items: center;
}
.section {
  min-width: $min-content;
  background-color: $color-bg-main;
}
.section--main-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color-bg-additional;
  @include media-breakpoint-up(md) {
    .collapse-nav {
      display: block !important;
    }
    .main-nav__button {
      display: none;
    }
  }
}
.section--additional-nav {
  padding-top: 20px;
  @include media-breakpoint-up(lg) {
    padding-top: 30px;
    padding-bottom: 20px;
    .collapse-nav {
      display: block !important;
    }
    .main-button--additional-nav {
      display: none;
    }
  }
}
.section--package {
  padding-top: 20px;
  padding-bottom: 20px;
  @include media-breakpoint-up(lg) {
    padding-bottom: 65px;
  }
}
.section--newsletter {
  height: 260px;
  background: linear-gradient(rgba(10, 34, 61, 0.8)), url("../img/newsletter_back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background: linear-gradient(rgba(10, 34, 61, 0.8)), url("../img/newsletter_back_2x.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
}
.section--activities {
  padding-top: 30px;
  padding-bottom: 10px;
  @include media-breakpoint-up(sm) {
    padding-bottom: 40px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 60px;
    padding-bottom: 95px;
  }
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
}
.main-nav__item {
  font-family: $font-main;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  color: $color-text-light;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: $color-text-light;
    border-bottom: 2px solid $color-text-light;
    margin-bottom: -2px;
  }
}
.additional-nav__item {
  background-color: transparent;
  font-family: $font-main;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.3;
  color: $color-text-main;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 16px;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    border-bottom: 4px solid $color-marker;
    margin-bottom: -4px;
    color: $color-marker;
  }
}
.card-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  @include media-breakpoint-up(lg) {
    padding-top: 30px;
  }
}
.card-list__title {
  height: 50px;
  background-color: $color-bg-additional;
  border-radius: 4px 4px 0 0;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding-left: 24px;
}
.card-list__block {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 15px;
}
.card-list__content {
  height: 100%;
  background: $color-text-light;
  border-radius: 0 0 8px 0;
  padding-bottom: 10px;
  @include media-breakpoint-up(lg) {
    padding-bottom: 30px;
  }
}
.card-list__content--sheet {
  border-radius: 0 0 8px 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  @include media-breakpoint-up(lg) {
    padding-bottom: 70px;
  }
}
.card-list__item {
  position: relative;
  display: flex;
  padding-left: 40px;
  margin-top: 20px;
}
.card-list__item--check {
  font-size: 8px;
  color: $color-text-light;
  @extend .icon;
  @extend .icon-marker-yes;
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    padding-top: 2px;
    background: $color-text-main;
  }
}
.card-list__item--calendar {
  font-size: 17px;
  color: $color-text-main;
  @extend .icon;
  @extend .icon-calendar;
  &:before {
    position: absolute;
    left: 0;
    top: 0;
  }
}
.card-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.card-photo__block {
  padding-top: 0;
  @include media-breakpoint-up(sm) {
    padding-top: 10px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 40px;
  }
}
.card-photo__item {
  position: relative;
  @include media-breakpoint-up(sm) {
    width: 100%;
  }
}
.card-photo__img {
  max-width: 255px;
  max-height: 255px;
  @include media-breakpoint-up(sm) {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
  border-radius: 6px;
}
.card-photo__content {
  position: absolute;
  left: 25px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}
.gradient {
  position: relative;    
}
.gradient:before {
  content: ""; 
  width: 100%;
  height: 100%;    
  position: absolute;
  top: 0;      
  left: 0;   
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 35%, #0A223D 100%);
  border-radius: 6px;
}