@mixin back-gradient($file-name) {
  background: linear-gradient(rgba(10, 34, 61, 0.8)), url("../img/#{$file-name}");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}