.collapse-nav {
  @include media-breakpoint-up(md) {
    display: block !important;
  }
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}
.nav__item {
  font-family: $font-main;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  color: $color-text-light;
  text-transform: uppercase;
  display: block;
  padding-top: 10px;
  &:after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: $color-text-light;
    margin-top: 10px;
  }
  &:hover,
  &:focus {
    outline: none;
    color: $color-text-light;
    &:after {
      width: 100%;
    }
  }
}
.additional-nav {
  @include media-breakpoint-up(lg) {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    float: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
}
.custom-dropdown-item {
  background-color: transparent;
  font-family: $font-main;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  color: $color-text-main;
  text-transform: capitalize;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 0;
  &:after {
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background-color: $color-marker;
    margin-top: 16px;
  }
  &:hover,
  &:focus {
    outline: none;
    &:after {
      width: 100%;
    }
    color: $color-marker;
    background-color: transparent;
  }
  &:active {
    outline: none;
    color: $color-text-main;
    background-color: transparent;
  }
}
.custom-dropdown-item--additional {
  @include media-breakpoint-up(lg) {
    padding-left: 0;
    padding-right: 0;
  }
}
.dropdown-alt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.dropdown-alt__first {
  display: none;
  padding-bottom: 20px;
  &:hover,
  &:focus {
    background-color: $color-bg-additional;
    color: $color-text-light;
  }
  @include media-breakpoint-up(md) {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
  }
}
.dropdown-indent {
  padding-bottom: 20px;
  @include media-breakpoint-up(md) {
    padding-bottom: 0;
  }
}
.dropdown-alt__button {
  background-color: transparent;
  display: inline-block;
  &:hover,
  &:focus {
    outline: none;
    color: $color-marker;
  }
  &:active {
    outline: none;
    color: $color-text-light;
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
}
.dropdown-alt__list {
  background-color: $color-bg-additional;
  @include media-breakpoint-up(md) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    float: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
}
.dropdown-link {
  font-family: $font-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: $color-text-additional;
  display: block;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: $color-bg-additional;
    background-color: $color-bg-main;
    font-weight: 600;
  }
  @include media-breakpoint-up(md) {
    padding: 0;
  }
}