.title-light {
  font-family: $font-main;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $color-text-light;
  @include media-breakpoint-up(md) {
    font-size: 36px;
  }
}
.title-dark {
  font-family: $font-main;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $color-text-main;
  @include media-breakpoint-up(md) {
    font-size: 24px;
  }
}
.title-dark--alt {
  font-size: 24px;
  text-align: center;
  @include media-breakpoint-up(lg) {
    font-size: 36px;
  }
}
.card-caption {
  font-family: $font-main;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  color: $color-text-light;
  text-transform: capitalize;
}
.card-list__caption {
  font-family: $font-main;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.2;
  color: $color-marker;
  display: block;
  padding-top: 10px;
  text-transform: capitalize;
}
.font-light {
  font-family: $font-main;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.25;
  color: $color-text-light;
  @include media-breakpoint-up(md) {
    font-size: 24px;
  }
}
.font-dark {
  font-family: $font-main;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: $color-text-main;
}
.font-dark--spec {
  font-style: italic;
  font-size: 10px;
}
.dashes {
  display: block;
  border: none;
  border-top: 1px dashed $color-text-additional-light;
  margin-left: 10px;
  margin-right: 25px;
  margin-top: 40px;
  padding-bottom: 10px;
}
.card-photo__caption {
  font-family: $font-main;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: $color-text-light;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 15px;
}
.caption-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.font-info {
  font-family: $font-main;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.3;
  color: $color-text-main;
}
.font-info--spec {
  font-weight: 700;
}
.icon-info {
  font-size: 16px;
  color: $color-text-main;
  padding-left: 10px;
  padding-right: 10px;
  @include media-breakpoint-up(md) {
    padding-left: 0;
    padding-right: 20px;
  }
}
.offer__title {
  font-family: $font-main;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: $color-text-light;
}
.icon-block {
  display: flex;
  padding-bottom: 6px;
}
.icon-block--review {
  padding-top: 5px;
}
.star-rating {
  font-size: 8px;
  font-weight: 600;
  color: $color-rating;
  padding-right: 2px;
}
.new-price {
  font-family: $font-main;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: $color-text-light;
  display: block;
  padding-top: 5px;
}
.old-price {
  font-family: $font-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: $color-text-light;
  text-decoration: line-through;
}
.offer__text {
  font-family: $font-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: $color-text-light;
  display: block;
  padding-top: 26px;
}
.review__user-name {
  font-family: $font-main;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  color: $color-marker;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.review__date {
  font-family: $font-main;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.3;
  color: $color-text-dark;
}
.review__text {
  font-family: $font-main;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  text-align: justify;
  color: $color-text-main;
  display: inline-block;
  padding-top: 25px;
}