$font-main: "Mulish", sans-serif;
$font-additional: "Nunito", sans-serif;
$color-bg-main: #f5fafe;
$color-bg-additional: #0a223d;
$color-text-main: #333;
$color-text-additional: #bdbdbd;
$color-text-dark: #000;
$color-text-light: #fff;
$color-marker: #ec1f46;
$min: 300px;