$font-main: "Mulish", sans-serif;
$font-additional: "Nunito", sans-serif;
$color-bg-main: #f5fafe;
$color-bg-additional: #0a223d;
$color-text-main: #333;
$color-text-additional: #bdbdbd;
$color-text-additional-light: #e0e0e0;
$color-text-dark: #000;
$color-text-light: #fff;
$color-marker: #ec1f46;
$color-rating: #f2994a;
$color-slider: #828282;
$color-tp: #f2f2f2;
$min-content: 300px;